{% extends 'base.html' %}

{% block content %}
<div class="container" style="background-color: #f0f0f0; border-radius: 10px; padding: 20px;">
    <div style="text-align: center;">
        <h2 style="color: #28a745;">Pioneering Bike-Sharing Predictive Analytics</h2>
        <p style="font-size: 18px; color: #333;">Leading the Future of Urban Mobility with Our Advanced Facebook Prophet Model</p>
    </div>

    <div style="background-color: #fff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin: 20px 0; padding: 20px;">
        <h3 style="color: #28a745;">Our Model's Edge in Bike-Sharing Forecasting</h3>
        <p>
            We specialize in transforming bike-sharing data into actionable insights using our cutting-edge Facebook Prophet model. Our model stands out for its ability to forecast demand with unprecedented accuracy, considering factors like weather, urban events, and seasonal trends.
        </p>
        <p>
            <strong>Benchmark Performance Metrics:</strong>
            <ul>
                <li>Root Mean Squared Error (RMSE) = <span style="color: #28a745;">3.04 Trips</span></li>
                <li>The Mean Absolute Error (MAE) = <span style="color: #28a745;">2.14 Trips</span></li>
                <li>Largest Average Absolute Prediction Difference = <span style="color: #28a745;">5.376 Trips</span></li>

            </ul>
        </p>
    </div>

    <div style="background-color: #fff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px;">
        <h3 style="color: #28a745;">Why Our Model Stands Apart?</h3>
        <p>
            Our Facebook Prophet model is tailored specifically for the bike-sharing industry. It excels in handling the unique challenges of urban mobility, such as rapid fluctuations in demand and the impact of local events. Businesses using our model have seen a significant increase in operational efficiency and customer satisfaction.
        </p>
        <p style="font-style: italic; color: #6c757d;">"Empowering smart cities with data-driven bike-sharing solutions."</p>
    </div>
</div>
{% endblock %}
